html {
	min-height: 100%;
	position: relative;
}

body {
	background-image: url("img/background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 100px 120px 100px 120px;
	display: block;
    margin-left: 120px;
    margin-top: 100px;
    /* margin: 6rem; */
    color: white;
    font-family: "montserrat";
    font-weight: bolder;
}

#extra-container {
    display: none;
    flex-direction: column;
    gap: 15px;
    width: 140px;
    
}

.extra-img-cont {
    width: 30px;
}


#center {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 10px;
}

#deg {
    width: 60px;
}



p {
    margin: 0px;

}

#not-found {
    color: red;
    font-size: 10px;
    font-weight: bold;
    margin-left: 250px;
}

#search {
    display: flex;
    flex-direction: column;
    height: 50px;
}

#search div {
    display: flex;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

input {
    border: none;
    height: 50px;
    padding: 0px;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    color: white;
    font-size: 30px;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    font-size: 30px;
    border-radius: 0.5rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    
}

.degBut {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    width: 35px;
    cursor: pointer;

}

#fah {
    border-left: 1px solid white;
    padding-left: 5px;
    color: gray;
    
}



#search-button:hover {
    background-color: rgba(230, 230, 230, 0.2);
}    

#search-button:active {
    background-color: rgba(205, 205, 205, 0.2);
}



#city {
    font-size: 50px;
    margin-top: -14px;
}

.extra {
    display: flex;
    font-size: 11px;
    gap: 5px;
    
}

.extra div {
    margin-top: -2px;
    display: flex;
    flex-direction: column;
}

.extra-span {
    display: flex;
    gap: 5px;
    font-size: 20px;
}

.extra-span div {
    font-size: 15px;
    margin-top: -1px;
}


#date {
    font-size: 23px;
}

#degree {
    display: flex;
    align-items: center;
    font-size: 50px;
    margin-top: -30px;
}

#weather {
    font-size: 20px;
    margin-top: 10px;
    text-transform: capitalize;
}

#degree img {
    margin-left: -18px;
}

#deg-sym {
    font-size: 20px;
    padding-bottom: 25px;
    display: none;
}

#bottom {
    margin-left: 10px;
    display: none;
    flex-direction: column;
    gap: 25px;
}

.daily-disp {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    align-items: center;
}

.wek-day-img {
    max-width: 80px;
    max-height: 80px;
}

#day-hour-disp {
    display: flex;
    justify-content: space-between;
}

.day-hour {
    background: none;
    border: solid 2px white;
    padding: 5px;
    width: 60px;
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Montserrat';

}

#day-hour-contrl {
    display: flex;
    gap: 20px;
}



@media (max-width: 650px) {
}
